.kot{
    color: red;
    border: 2px solid green;
    text-align: center;
    display: inline-block;
}
p{
    font-family: 'PT Mono', monospace;
}
h1{
    font-family: 'PT Mono', monospace;
}
body{
    background: linear-gradient(to top right, rgb(102, 0, 102), rgb(137, 41, 228));
}
.main-container{
    border: 1px solid bisque;
    box-shadow: 1px 1px 1px;
    margin: 20px 30px;
    background-color: bisque;
}
.main-header{
    padding: 20px;
    display: flex;
}
.container-logo{
    display: inline-block;
}
.main-text-container{
    justify-content: center;
    display: inline-block;
    align-items: center;
}
.logo{
    height: 260px;
    width: 260px;
    display: inline-block;
}
.maintext-logo{
    height: 260px;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.header-text{
    height: 260px;
    width: 950px;
}*/
.main-introduction{
    padding: 10px;
}
.introduction-headline{
    text-align: center;
}
.introduction-text{
    text-align: center;
    padding: 10px;
    border: 5px purple solid;
    margin: 60px;
    font-size: 20px;
}
.PC-selecter{
    height: 200px;
    width: 200px;
    border: purple 5px dashed;
    border-radius: 100%
}
.selecters-container1{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 17px;
}
.footer-img{
    width: 210px;
    height: 80px;
    margin: 20px;
}
.footer-vk{
    position: absolute;
    display: inline-block;
    right: 45px;
    left: auto;
    bottom: -240px;
    top: auto;
}
.footer-text{
   text-align: right;
   display: inline-block;
   position: absolute;
   right: 45px;
   left: auto;
}

