body{
    background: linear-gradient(to top right, rgb(102, 0, 102), rgb(137, 41, 228));
}
div{
    font-family: 'PT Mono', monospace;
}
.fukin_all{
    margin: auto;
}
header{
    border: 1px solid burlywood;
    box-shadow: 1px 1px 1px;
    margin: 20px 30px;
    background-color: burlywood;
}
.main-header{
    padding: 20px;
    display: flex;
}
.PC-header-img{
    height: 300px;
    width: 300px;
    border:5px purple solid;
    padding: 20px
}
.navbar{
    position: relative;
    text-align: right;
}
